apiVersion: apps/v1 # Deployment para NGINX com Secret
kind: Deployment # Definição do Deployment
metadata: # Metadados do Deployment
  labels: # Rótulos do Deployment
    app: nginx # Rótulo da aplicação
  name: nginx # Nome do Deployment

spec: # Especificações do Deployment
  
  replicas: 3 # Número de réplicas
  selector: # Seletor de rótulos
    matchLabels: # Correspondência de rótulos
      app: nginx # Rótulo da aplicação

  strategy: # Estratégia de atualização
    rollingUpdate: # Configuração de atualização contínua
      maxSurge: 2 # Máximo de pods adicionais durante a atualização
      maxUnavailable: 1 # Máximo de pods indisponíveis durante a atualização
    type: RollingUpdate # Tipo de estratégia
  template: # Template do Pod
    metadata: # Metadados do Pod
      labels: # Rótulos do Pod
        app: nginx # Rótulo da aplicação
    
    
    spec: # Especificações do Pod
      containers: # Definição dos containers
      - image: nginx # Imagem do container
        name: nginx # Nome do container
        resources: # Recursos do container
          limits: # Limites de recursos
            memory: 128Mi 
            cpu: 500m
          requests: # Requisições de recursos
            memory: 64Mi
            cpu: 250m
        
        env: # Variáveis de ambiente
        - name: USER 
          valueFrom:
            secretKeyRef:
              name: secret-cli 
              key: username
        - name: PASSWORD
          valueFrom:
            secretKeyRef:
              name: secret-cli
              key: password
        
        ports: # Portas expostas pelo container
        - name: http 
          containerPort: 80
        startupProbe: # Probe de inicialização 
            exec:
              command:
                - nginx
                - -v
            periodSeconds: 3
            failureThreshold: 2
        
      restartPolicy: Always # Política de reinício do Pod
