apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nginx
  name: nginx

spec:
  
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  
  strategy:
    rollingUpdate:
      maxSurge: 2
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: nginx
    
    
    spec:
      containers:
      - image: nginx
        name: nginx
        resources:
          limits:
            memory: 128Mi
            cpu: 500m
          requests:
            memory: 64Mi
            cpu: 250m
        
        env:
        - name: USER
          valueFrom:
            secretKeyRef:
              name: secret-cli
              key: username
        - name: PASSWORD
          valueFrom:
            secretKeyRef:
              name: secret-cli
              key: password
        
        ports:
        - name: http
          containerPort: 80
        startupProbe: 
            exec:
              command:
                - nginx
                - -v
            periodSeconds: 3
            failureThreshold: 2
        
      restartPolicy: Always
