apiVersion: v1 # Espepcifica a versão da API do Kubernetes
kind: Pod # Define o tipo do objeto como Pod
metadata: # Metadados do Pod
  name: pod-configmap-secret # Nome do Pod
  labels: # Rótulos associados ao Pod
    app: nginx # Rótulo indicando que o Pod é parte da aplicação nginx
spec: # Especificações do Pod
  containers: # Definição dos containers dentro do Pod
    - name: container-nginx # Nome do container
      image: nginx # Imagem do container (nginx)
      ports: # Portas expostas pelo container
        - containerPort: 80 # Porta HTTP
        - containerPort: 443 # Porta HTTPS
      volumeMounts: # Montagem de volumes no container
        - name:  nginx-volume
          mountPath:  /etc/nginx/nginx.conf
          subPath:  nginx.conf
        - name:  nginx-tls
          mountPath:  /etc/nginx/ssl
  
  volumes: # Definição dos volumes usados pelo Pod
  - name: nginx-volume
    configMap:
      name: cm-web-tls
  - name: nginx-tls
    secret:
      secretName: secret-web-tls
      items:
        - key: tls.crt
          path: certificado.crt
        - key: tls.key
          path: chave-privada.key

      